@font-face {
    font-family: "F1_regular";
    src: url(F1_regular.otf);
    font-size: 1em;
}
*{
    margin: 0;
    padding: 0;    
    font-family: F1_regular;
}
body{
    background-color:#041424;
}
.contenedor-imagen{
    background-color: #041424;   
    
}
.sticker{
    position: sticky;
    z-index: 100;
    top: 0rem; 
}
.contenedor-nav{
    font-size: 1.3rem;
}
.contenedor-fila-nav{
    background-color: #041424;     
}
.contenedor-nav li{   
    padding: 0 2rem 0 2rem;
}
.nav-link{
    color: gray;
}

.nav-link:hover{   
    color: #9df175; 
    text-decoration: underline;
    text-decoration-color: #9df175;
}
.nav-link:focus{
    color: #9df175;
    text-decoration: none;
}

.contenedor-imagen img{      
    width: 25%;
}
.contenedor-video{    
    padding:0;
    width: 45%;
    
}
.contenedor-fila-video{        
    background-color: #041424;   
}
.contenedor-fila-texto{
    color: white;
    background-color: #041424; 
    padding: 5rem 0 5rem 0;
    font-size: 1.3rem;
    line-height: 2rem;
}
.contenedor-fila-texto h1{    
    padding: 0 0 1rem 0; 
    font-size: 2rem;   
}
/* NOTICIAS */
.contenedor-fila-noticias h2
{   
    padding: 0;
    margin: 0 5rem 0 5rem;
    font-size: 2rem;
    background-color: crimson;
    color: #fff;
}
.contenedor-fila-noticias{
    background-color: #041424;
    padding: 5rem 0 5rem 0;
    color: white;
}
.carousel-item{
    height: 32rem;
    background-color: black;
    color: white;
    position: relative;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}
.container{
    height: 32rem;        
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 25rem;
    padding-bottom: 50px;
   /*  top: 0; */
}
.contenedor-columna-carousel{
    background-color: #041424;
}
/* CALENDARIO */
.contenedor-fila-calendario h2{
    padding: 0;
    margin: 0 5rem 0 5rem;
    font-size: 2rem;
    background-color: crimson;
    color: #fff;
}
.contenedor-fila-calendario{
    background-color: #041424;
    color: white;
    padding: 5rem 0 5rem 0;
    font-size: 1.5rem;
}

.contenedor-fila-calendario2{  
    color: white;  
    background-color: #041424;
    font-size: 1.5rem;
}
/* RESULTADOS */
.resultados{
    background-color: #041424;
}
.contenedor-fila-resultados{
    color: white;
    padding: 5rem 0 5rem 0;
    font-size: 1.5rem;
}
.contenedor-fila-resultados h2{
    padding: 0;
    margin: 0 5rem 0 5rem;
    font-size: 2rem;
    background-color: crimson;
    color: #fff;
}
.encabezado-tabla{    
    font-size: 1.3rem;
    color: #9df175;    
}
.titulos-encabezado{
    padding: 0 1rem 0 1rem;
    color: #9df175; 
    
    font-size: 1.5rem;
}
.resultados-item{
    background-color: teal;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1.3rem;
}
.resultados-item2{
    background-color: #041424;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1.3rem;
}
.nope{
    background-color: #041424;
}

.contenedor-fila-footer{
    background-color: #041424;
    color: white;
    padding: 5rem 0 1rem 0;
    font-size: 1.5rem;
}
.contenedor-footer{
    background-color: #041424;
}
a{
    /* color: #9df175;  */
    color: gray;
    font-size: 1.3rem;
}
a:hover{
    color: #9df175; 
}