.sticker{
    position: sticky;
    z-index: 100;
    top: 0rem; 
    .contenedor-imagen{
        background-color: $azulMRL;
        img{      
            width: 25%;
        }
    }
    .contenedor-fila-nav{
        @extend .contenedor-imagen;        
        .contenedor-columna-nav{  
            padding: 0;            
            border-bottom: solid 5px crimson; 
            .contenedor-nav{
                font-size: 1.3rem;
                li{   
                    padding: 0 2rem 0 2rem;
                    /* esto puede ser un mixin */
                    a{
                        color: gray;
                        &:hover{
                            color: $verdeMRL; 
                            text-decoration: underline;
                            text-decoration-color: $verdeMRL;
                        }
                        &:focus{
                            color: $verdeMRL;
                            text-decoration: none;
                        }
                    }
                }
            }
            }    
    }
}