
.seccion-calendario{
    border: $border;      /* borrar despues */  
    .contenedor-carousel-calendario2{ 
        border: $border;      /* borrar despues */  
        width: 80%;   
        padding: 0 0 0 1rem;  /* Este centrado es para la vista de escritorio de 1888px */
        .item{  
            .contenedor-card2{               
                width: 15rem; 
                height: 25rem; 
                background-color: $azulMRL;
                img{
                    width: 100%;
                }  
                .card-body2{                    
                    padding: 1rem 0 0 0;
                    color:white;
                    background-color: $azulMRL;
                    font-size: 1.5rem;
                    h4{
                        color: $verdeMRL;
                    }
                    h5{
                        color: $verdeMRL;
                    }
                }                 
            }
        }        
    }
}