@font-face {
    font-family: "F1_regular";
    src: url(F1_regular.otf);
    font-size: 1em;
}
*{
    margin: 0;
    padding: 0;    
    font-family: F1_regular;
}
body{
    background-color: $azulMRL;
    color:white;
}